@media (max-width: 1000px) {
    //m1000

    #calendar {
        .rdp {
            width: 695px !important;

            tr {
                width: 680px !important;
            }

            tbody td {
                width: 95px !important;
                min-width: 95px !important;
                min-height: 90px !important;

                .rdp-day {
                    width: 85px !important;
                    min-width: 85px !important;
                    min-height: 85px !important;
                }
            }

            .rdp-months .rdp-month {
                .rdp-caption .rdp-caption_label {
                    height: 45px;
                    font-size: 18px;
                }

                table thead th {
                    height: 28px !important;
                    padding: 3px;
                    font-size: 12.5px;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    //m991

    #header {
        box-shadow: none;

        .collapse li .nav-link {
            width: max-content;
            padding: 5px 0px;
        }
    }

    .navbar-toggler-icon {
        width: 35px;
        height: 35px;
    }

    #home-modal {
        .home-popup-container {
            display: block;
            position: fixed;
            overflow: scroll;
            top: 4%;
            width: 80%;
            height: 93%;

            .button-modal {
                position: absolute !important;
                left: 94% !important;
                top: 5px !important;
            }

            .imageNASA {
                padding-top: 10px !important;

                img {
                    border-radius: 5px;
                    width: 60% !important;
                    max-height: inherit !important;
                    height: inherit !important;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    //m767

    #calendar {
        .rdp {
            width: 545px !important;

            tr {
                width: 530px !important;
            }

            tbody td {
                width: 75px !important;
                min-width: 75px !important;
                min-height: 70px !important;

                .rdp-day {
                    width: 65px !important;
                    min-width: 65px !important;
                    min-height: 65px !important;
                }
            }

            .rdp-months .rdp-month {
                .rdp-caption .rdp-caption_label {
                    height: 40px;
                    font-size: 16px;
                }

                table thead th {
                    height: 24px !important;
                    font-size: 12px;
                }
            }
        }
    }

    #home-modal .home-popup-container {
        width: 85%;

        .imageNASA img {
            width: 55% !important;
        }
    }
}

@media (max-width: 600px) {
    //m600

    #calendar {
        padding-left: 3px !important;
        padding-right: 3px !important;

        .rdp {
            width: 390px !important;
            margin: 3px !important;
            padding: 3px !important;

            tr {
                width: 380px !important;
                padding: 0px !important;
            }

            tbody td {
                width: 51px !important;
                min-width: 51px !important;
                min-height: 50px !important;
                padding: 0px !important;

                .rdp-day {
                    width: 45px !important;
                    min-width: 45px !important;
                    min-height: 45px !important;
                }
            }

            .rdp-months .rdp-month {
                .rdp-caption .rdp-caption_label {
                    height: 40px;
                    font-size: 16px;
                }

                table thead th {
                    height: 24px !important;
                    padding: 3px;
                    font-size: 12px;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    //m500

    #calendar {
        padding-left: 3px !important;
        padding-right: 3px !important;
        padding-top: 55px !important;

        .rdp {
            width: 325px !important;
            margin: 3px !important;
            padding: 3px !important;

            tr {
                width: 315px !important;
                padding: 0px !important;
            }

            tbody td {
                width: 43px !important;
                min-width: 43px !important;
                min-height: 43px !important;
                padding: 0px !important;

                .rdp-day {
                    width: 40px !important;
                    min-width: 40px !important;
                    min-height: 40px !important;
                }
            }


            .rdp-months .rdp-month {
                .rdp-caption .rdp-caption_label {
                    height: 30px;
                    font-size: 14px;
                }


                table {
                    thead th {

                        padding: 5px;
                        font-size: 11px;
                    }

                    tbody tr {
                        padding: 1px 0px !important;
                    }
                }


            }
        }
    }

}

@media (max-width: 400px) {
    //m400

    #home-modal .home-popup-container {
        top: 3%;
        width: 90%;

        .imageNASA img {
            width: 70% !important;
        }
    }

}

@media (max-width: 300px) {
    //m340

    .navbar {
        padding: 8px 1px !important;
    }
}